@import url('https//fonts.googleapis.com/css2?family=poppins:wght@300,400,500,600,700,800,900&display=swap');
</P>*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body {
    background-color: #0a0856;
    text-decoration: none;
}
.sec {
    display: flex;
    width: 100%;
}
.sec .logo {
    padding-top: 3vw;
    justify-content: left;
    align-items: center;
}
.sec .logo img {
    width: 70vw;
    border: 0px solid red;
    border-radius: 50%;
}
.sec .nav {
    justify-content: right;
    align-items: center;
    text-decoration: none;
}
.word {
    justify-content: center;
    align-content: space-between;
}
.word a{
    border: 5px solid magenta;
    text-decoration: none;
    color: white;
    background-color: aqua;
    border-radius: 50px;
    outline: 5px solid rgb(0, 47, 255);
    padding: 0px 15px;
    transition: 3s;
}
.word a:hover {
    background-color: rgb(56, 242, 10);
    color: rgb(0, 173, 241);
}
.jym {
    font-size: 3vw;
    margin-top: 0vw;
    margin-left: 10vw;
    margin-bottom: -1vw;
    font-weight: 900;
}
.hom {
    font-size: 5vw;
    margin-top: 10vw;
    margin-left: -10vw;
    font-weight: bolder;
}
.media {
    font-size: 5vw;
    margin-top: 3vw;
    margin-left: 0vw;
    font-weight: bolder;
}
.about {
    font-size: 5vw;
    margin-top: 4vw;
    margin-left: 0vw;
    font-weight: bolder;
}
.contact {
    font-size: 5vw;
    margin-top: 3vw;
    margin-left: -10vw;
    font-weight: bolder;
}
.soc {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 5vw;
    margin-left: 0vw;
    margin-top: 4vw;
}
.soc .face{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    color: rgb(0, 38, 255);
    margin-left: 10px;
    border: 5px solid rgb(0, 128, 11);
    border-radius: 50px;
    outline: 2px solid salmon;

}
.soc .face :hover{
    color: azure;
    background-color: chartreuse;
    border: 5px solid rgb(0, 128, 11);
    border-radius: 50px;
}
/*---------------middle---------*/
.prog {
    justify-content: center;
    align-content: center;
    width: 94vw;
    padding-top: 0vw;
    padding-bottom: 0vw;
    background-color: rgb(255, 255, 255);
}
.prog H1 {
    text-align: center;
    padding-top: 10vw;
    font-size: 5vw;
    color: aqua;
    background-color: antiquewhite;
}
.prog h2 {
    text-align: center;
}
.prog .img {
    width: 94vw;
    margin-left: 0vw;
    border: 2px solid black;
    border-radius: 30%;
}
/*-------------info----------*/
.media{
    position: ;
    background-color: black;
    border: 5px solid orange;
}
.media h1{
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    color: aqua;
}
.media h2{
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    color: aqua;
    background-color: chartreuse;
    border-radius: 30px;
}
.img-row1{
    display: grid;
    margin-left: 0vw;
    margin-top: 0vw;
}
.img-row2{
    display: grid;
    margin-left: 20%;
    margin-top: -130vw;
}
.img-row3{
    display: grid;
    margin-left: 40%;
    margin-top: -145vw;
}
.img-row4{
    display: grid;
    margin-left: 60%;
    margin-top: -145.9vw;
}
.img-row5{
    display: grid;
    margin-left: 50%;
    margin-top: -124vw;
}
.media img{
    width: 19vw;
    border: 2px solid aquamarine;
    border-radius: 10px;
}
.video-grid{
    display: block;
    
}
iframe{
    width: 45vw;
    border: 1px solid aqua;
    border-radius: 30px;
}
.ivi iframe{ 
    width: 94vw;
    
}
.avi{
    display: block;
    margin-left: 3px;
    justify-content: center;
    align-content: center;
}
/*--------bottom--------*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('BACKGROUND.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}
nav img {
    width: 15vw;
    margin-left: 3vw;
}
nav .theme {
    font-size: 3vw;
}
.lower1{
    justify-content: space-between;
    align-content: center;
    background-color: black;
    height: 25vw;
}
.worddown1 a{
    text-decoration: none;
    color: aqua;
    background-color: blueviolet;
    border: 2px solid aqua;
    border-radius: 30px;
    padding: 0vw 2vw;
    margin-left: 10vw;
    font-size: 4.2vw;
    outline: 3px solid chocolate;
    transition: 3s;
}
.worddown1 a:hover{
    color: azure;
    background-color: chartreuse;
    border: 5px solid rgb(0, 128, 11);
    border-radius: 50px;
}

.hom1{
    margin-left: -5vw;
}
.media2{
    margin-left: 1vw;
}
.about3{
    margin-left: 6vw;
}
.contact4{
    margin-left:12vw;
}
.navmiddle1 img{
    display: flex;
    position: absolute;
    margin-left: 43vw;
    margin-top: -17vw;
    width: 14vw;
    height: 14vw;
    border: 5px solid aqua;
    border-radius: 100%;

}
.navmiddle1 img:hover{
    color: rgb(0, 119, 255);
    outline: 4px solid mediumseagreen;
}
.soc1 {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 5vw;
    margin-left: 40vw;
    margin-top: -10vw;
}
.soc1 .face2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    color: rgb(0, 38, 255);
    margin-left: 10px;
    border: 5px solid rgb(0, 128, 11);
    border-radius: 50px;
    outline: 2px solid salmon;

}
.soc1 .face2 :hover{
    color: azure;
    background-color: chartreuse;
    border: 5px solid rgb(0, 128, 11);
    border-radius: 50px;
}
.last1 .a1{
    display: flex;
    font-size: 4vw;
    color: aqua;
    margin-left: 66vw;
    margin-top: -13.9vw;
    margin-bottom: -4vw;
}.last1 .a2{
    font-size: 4vw;
    color: aqua;
    margin-left: 70vw;
}
.last1 .a3{
    font-size: 3vw;
    color: aqua;
    margin-left: 71vw;
    margin-top: -4vw;
}
.last1 .a4{
    font-size: 3vw;
    color: aqua;
    margin-left: 70vw;
    margin-top: -4vw;
    text-align: center;
}